# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Developer Notes
developer_notes.txt

# Jupyter Notebook
.ipynb_checkpoints

# Jupyter Solutions
lesson_3/
solutions/

# VS Code
.vscode/